<h1>Avances De La Obra</h1>

<mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        >
        <img class="icono" [src]="'../../../../assets/Recursos/' + tile.text" alt="logo" width="90%" height="90%">
    </mat-grid-tile>
  </mat-grid-list>

  <mat-divider class="custom-divider"></mat-divider>
  <h1>Progreso</h1>
<div class="row">
    <div class="col-md-6 centro">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">Avance De Obra</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td class="text-center"><circle-progress
                [percent]="70"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#CB3234'"
                [innerStrokeColor]="'#6f6f6f'"
                [animation]="true"
                [animationDuration]="300"
              ></circle-progress></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
