@import url('https://fonts.googleapis.com/css?family=Ubuntu');

h1 {
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-family: Ubuntu;
    font-weight: bold;
    text-align: center;
  }
  .centro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px; /* Esto asegura que el div esté centrado en toda la altura de la ventana */
  }