<div class="encabezado">
    <img src="../../../../assets/Recursos/header.png" alt="">
    <h1 class="texto">ESTADO DE CUENTA</h1>
    <h3 class="texto">ISABELLA BETANCOURT</h3>
    <h2 class="texto">Apto: 501B</h2>
    <img class="icono" src="../../../../assets/Recursos/icono_encabezado1.png" alt="">
</div>
<br><br>

<mat-grid-list cols="2" rowHeight="2:1">
    <app-value-pay></app-value-pay>   
    <app-progress></app-progress>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>

<div class="footer">
    <img src="../../../../assets/Recursos/footer.png"  alt="">
</div>


