<div class="principal">
    <div class="encabezado">
        <img src="../../../../assets/Recursos/header.png" alt="">
        <h1 class="texto">ESTADO DE CUENTA</h1>
        <h3 class="texto">ISABELLA BETANCOURT</h3>
        <h2 class="texto">Apto: 501B</h2>
        <img class="icono" src="../../../../assets/Recursos/icono_encabezado1.png" alt="">
    </div>
    <mat-divider class="custom-divider"></mat-divider>
    <br>
    <div class="card-container">
        <mat-card class="card">
            <mat-card-header>
            </mat-card-header>
            <mat-card-content>
                <h2>Fecha Estado de Cuenta</h2>
                <h3> 10 AGO 2023/30 JUN 2023</h3> 
                <mat-divider class="custom-divider"></mat-divider>
                <h2>Valor total del apartamento</h2>
                <h3> $135.000.000</h3> 
                
              <p>
                <br>
                <br>
                <mat-divider class="custom-divider"></mat-divider>
                <br>
                <br>
                <mat-grid-list cols="3" rowHeight="100px">
                    <mat-grid-tile
                        *ngFor="let tile of tiles"
                        [colspan]="tile.cols"
                        [rowspan]="tile.rows"
                        >
                        <img class="icono" [src]="'../../../../assets/Recursos/' + tile.text" alt="logo" width="90%" height="90%">
                    </mat-grid-tile>
                  </mat-grid-list>
              </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
            </mat-card-header>
            <mat-card-content class="card-content-fondo">
                <h2>Resumen Estado de Cuenta</h2>
                <h3>Total Abonado: $52.000.000 </h3> 
                <h3>Saldo Total: $83.000.000</h3>
                <mat-divider class="custom-divider"></mat-divider>
                <h1>
                    <br>
                    !Tu nuevo hogar esta en construcción¡<br><br>
                    ESTAMOS COMPROMETIDOS
                    CON LA FECHA DE ENTREGA
                    DE ESTE PROYECTO 
                </h1>
            </mat-card-content>
        </mat-card>
    </div>
    <br>
    <mat-divider class="custom-divider"></mat-divider>
    <br>
    <div class="footer">
        <img src="../../../../assets/Recursos/footer.png"  alt="">
    </div>
    <br>
    <mat-divider class="custom-divider"></mat-divider>
    <br>
    <div class="container">
        <p>Todos los derechos reservados 2023</p>
        <p><a href="#">Políticas de Privacidad</a></p>
        <p><a href="#">Terminos y Condiciones</a></p>
    </div>
</div>
