@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

h1 {
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
  }
h2{
        margin-top: 10px;
        color: rgb(0, 0, 0);
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
}
h3{
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Source Sans Pro', sans-serif;
}

.principal{
width: 80%px;
height: 100%;

}
.custom-image {
    width: 300px; /* Ancho deseado en píxeles */
    height: 150px; /* La altura se ajustará automáticamente para mantener la proporción original */
}

.card{
    color: black;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    width: calc(50% - 10px);
  }

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-container {
    display: flex;
    justify-content: space-between; /* Crea espacio entre los dos cards */
}

.centered-title{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.card-container h3{
    text-align: center;
}

.mat-card .mat-card-title {
    text-align: center;
}

.card-container h2{
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.mat-card-title {
    text-align: center;
}
  

@media(max-width: 990px){
    .card{
      margin: 20px;
    }
} 

.encabezado{
    width: 98%;
    height: 20%;
}

.encabezado img{
    width: 100%;
    height: 60%;
}

.encabezado h1{
    color: white;
    position: absolute;
    top: 2%;
    left: 65%;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);

}

.encabezado h3{
    color: white;
    position: absolute;
    top: 10%;
    font-weight: normal;
    left: 65%;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);

}

.icono{
    border-radius: 10px; 
  }
.encabezado h2{
    color: white;
    position: absolute;
    top: 15%;
    left: 65%;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);

}

.encabezado .icono{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 57%;
    top: 6%;
}

.footer{
    width: 100%;
    height: 60%;
}

.footer img{
    width: 100%;
    height: 50%;
}