<div class="row">
    <div class="col-md-6">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">Avande del Proyecto</th>
            <th class="text-center">Aportes Sueño de Vida</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center"><circle-progress
                [percent]="50"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#CB3234'"
                [innerStrokeColor]="'#6f6f6f'"
                [animation]="true"
                [animationDuration]="300"
              ></circle-progress></td>
              <td class="text-center"><circle-progress
                [percent]="70"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#CB3234'"
                [innerStrokeColor]="'#6f6f6f'"
                [animation]="true"
                [animationDuration]="300"
              ></circle-progress></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
