.container {
    display: flex;
    flex-direction: row-reverse; /* Cambia la dirección a fila inversa (de derecha a izquierda) */
  }
  
  .content {
    flex: 1; /* El contenido toma el espacio restante */
    padding: 20px; /* Ajusta el relleno según sea necesario */
  }
  
  .sidebar {
    width: 250px; /* Establece el ancho de la barra lateral según tus necesidades */
    background-color: #f4f2f2; /* Cambia el color de fondo según sea necesario */
  }