<div class="sidebar">   
        <img class="imglogo" src="../../assets/img/logo.avif" alt="logo" width="90%" height="90%" />
        <div class="titleRepo">
            <h3>Sistema DIC </h3>
        </div>
    <ul class="pt-2">
        <div class="my-1">
            <a class="button-link" >
                <i-lucide class="custom-icon" name="home"></i-lucide>
                <p>Inicio</p>
            </a>
        </div>
        <div class="my-1">
            <a class="button-link">
                <i-lucide class="bar-chart-3" name="bar-chart-3"></i-lucide>
                <p>Estado de cuenta</p>
            </a>
        </div>
        <div class="my-1">
            <a class="button-link" >
                <i-lucide class="custom-icon" name="wallet-cards"></i-lucide>
                <p>Pago en linea</p>
            </a>
        </div>
    </ul>
</div>
